body {
  font-family: sans-serif;
}

svg {
  width: 40em;
  height: 30em;
  background-color: #eee;
  border: 0.1em solid black;
}

circle {
  fill: transparent;
  stroke-width: .02em;
  stroke: black;
}

g.points circle {
  fill: black;
}

g.lines line {
  stroke: black;
  stroke-width: .02em;
}